<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.PlantInfoMapper">
	
	<insert id="insert" parameterType="plantinfo">
		INSERT INTO Plant_Info VALUES (PI_SEQ.NEXTVAL,100,30,30,#{humi},SYSDATE)	
	</insert>
	
	<update id="update" parameterType="plantinfo">
		UPDATE Plant_Info SET tem=#{tem}, humi=#{humi}, lux=#{lux} WHERE infoNum=#{infoNum}
	</update>
	
	<delete id="delete" parameterType="String">
		DELETE FROM Plant_Info WHERE infoNum=#{infoNum}
	</delete>
	
	<select id="select" parameterType="String" 
	resultType="plant">
		SELECT * FROM Plant_Info WHERE infoNum=#{infoNum}	
	</select>
	
	<select id="selectall" resultType="plantinfo">
		SELECT * FROM Plant_Info where id=100 order by infoNum desc
	</select>
	
</mapper>






















